
td{
    padding: 6px;
  }

tr:nth-child(odd){
    background-color: rgb(181, 243, 173);
    color: #000;
}

tr:first-child{
    background-color: rgb(148, 148, 148);
    color: #fff;
}

.checkbox-center {
    text-align: center;
}

